<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ibmMeeting.Dao.MeetingRoomDao">

	<!-- 작성자 : 박성준 -->
	<!-- 회의실 리스트 출력 -->
	 <select id="meetingRoomList" resultType ="HashMap">
 		select *
		from CONFERENCE
		order by conf_order asc; 
    </select>
    
    
    <!-- 작성자 : 박성준 -->
	<!-- 회의실 추가 -->
    <select id="meetingRoomAdd" parameterType="HashMap">
    	INSERT INTO CONFERENCE
		values(0,#{roomName},"default",#{roomNumber});
    </select>
    
    <!-- 작성자 : 박성준 -->
	<!-- 회의실 삭제 -->
     <select id="meetingRoomDelete" parameterType="Integer">
    	delete 
		from CONFERENCE
		where conf_no=#{meetingRoomSeq};
    </select>
    
    
    <!-- 작성자 : 박성준 -->
	<!-- 회의실 수정 -->
    <select id="meetingRoomUpdate" parameterType="HashMap">
    	update CONFERENCE
		set conf_nm=#{roomName},conf_order=#{roomNumber}
		where conf_no=#{roomSeq};
    </select>
    
    
    
    <!-- property : VO 변수명, column : SQL 변수명 -->
    <resultMap type="com.ibmMeeting.VO.Conference" id="conference_resultmap">
    	<id column="conf_no" property="confNo"/>
    	<result column="conf_nm" property="confNm"/>
    	<result column="conf_comp" property="confComp"/>
    	<result column="conf_order" property="confOrder"/>
 	</resultMap>
    
    <!-- 작성자 : 박세연 -->
    <!-- 등록된 회의실 조회해오기 -->
    <select id="getResources" resultMap="conference_resultmap">
    	SELECT conf_no, conf_nm, conf_order
    	FROM CONFERENCE
    	ORDER BY conf_order ASC
    </select>
    
    <select id="meetingRoomName" parameterType="Integer" resultType="String">
    	SELECT CONF_NM
    	FROM CONFERENCE
    	WHERE CONF_NO = #{confNo}
    </select>
   
</mapper>
